<div class="jumbotron">
  <div class="container">
    <h1 class="titulos">Dragons</h1>
    <h2 class="titulos">More dragons</h2>
    <a href="http://facebook.com" class="btn btn-default"><span class="glyphicon glyphicon-user" style="color: blue"></span>Facebook</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="page-header">
        <h2 style="display: inline">Example page header</h2>
        <span class="label label-default">New</span>
      </div>
      <a href="http://facebook.com" class="btn btn-default">Facebook</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis minus molestias non numquam perferendis recusandae soluta? Architecto cupiditate dolore error in laudantium necessitatibus, nisi perferendis quo sint sunt temporibus voluptatum!</p>
    </div>

    <div class="col-md-4">
      <div class="page-header">
        <h2>Subitulo</h2>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis minus molestias non numquam perferendis recusandae soluta? Architecto cupiditate dolore error in laudantium necessitatibus, nisi perferendis quo sint sunt temporibus voluptatum!</p>
    </div>

    <div class="col-md-4">
      <div class="page-header">
        <h6>Sub..Subtitulo</h6>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis minus molestias non numquam perferendis recusandae soluta? Architecto cupiditate dolore error in laudantium necessitatibus, nisi perferendis quo sint sunt temporibus voluptatum!</p>
      <hr>
      <br>
      <img src="http://www.seresmitologicos.net/wp-content/uploads/2011/05/dragon.jpg"
      class="img-responsive">
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
    </div>
  </div>
</div>

